.container
  display: flex
  flex-direction: column
  position: relative

.button
  background: transparent
  border-radius: 0
  border: 0
  padding: .7rem 0
  color: var(--text-color)

.mask
  position: fixed
  top: 0
  left: 0
  width: 100dvw
  height: 100dvh
  background-color: rgba(0, 0, 0, .8)
  display: flex
  justify-content: center
  align-items: center

.box
  background-color: #fff

.leftList
  display: flex
  flex-flow: column nowrap
  align-items: stretch
  padding-left: 0
  margin: 0
  gap: var(--gap)

.item
  flex: 1 0 auto
  display: flex
  justify-content: center
  align-items: center

.button, .donateButton
  display: inline-block
  padding: .7rem 2rem
  color: var(--text-color)
  text-decoration: none
  text-transform: uppercase
  transition: all .3s ease-out
  &:hover
    color: var(--primary-color)

.donateButton
  border: 1px solid var(--text-color)

@media (min-width: 992px)
  .container
    display: none