.nav
  background: rgba(0, 0, 0, .1)
  height: 49px
  display: flex
  align-items: stretch

.link
  text-decoration: none

.more
  transform: rotateZ(90deg)

.height
  height: 49px
  min-height: 49px

.tab
  display: flex
  align-items: center