:root
  --gap: 1rem
  --font-size: 1rem
  --font-small: .8rem
  --font-large: 2rem
  --line-height: 1.5

*
  box-sizing: border-box

html
  font-size: 100%

body
  margin: 0
  font-size: 1rem

sup, sub
  line-height: 1

p, .p
  font-size: var(--font-size)
  line-height: var(--line-height)
  margin-block: var(--gap)

h1, h2, h3, h4
  line-height: 1
  font-weight: normal
h1
  font-size: 2.5rem
h2
  font-size: 2rem
h3
  font-size: 1.6rem
h4
  font-size: 1.2rem

.pad, .pad-y, .pad-t
  padding-top: var(--gap)
.pad, .pad-y, .pad-b
  padding-bottom: var(--gap)
.pad, .pad-x, .pad-l
  padding-left: var(--gap)
.pad, .pad-x, .pad-r
  padding-right: var(--gap)

.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.underline
  text-decoration: underline
.uppercase
  text-decoration: uppercase

.relative
  position: relative